body {text-align: center; background: white; padding: 0 10% 0 10%}

body {
  background-image: url("imgs/bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {font-family: fantasy; color: red; font-size: 4em; font-weight: 1000; line-height: 60px}

h2 {font-family: Comic Sans MS; color: blue; font-size: 2em; font-weight: 600}
h2 {-webkit-text-stroke: 2px red;}
p {font-family: Comic Sans MS; color: red; font-size: 1.7em}
p {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

a.list {font-family: fantasy; font size: 1em; font-weight: 100; text-decoration: none; line-height: normal;
text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;}
a.list:link {Color: red}
a.list:visited {color: red}
a.list:hover {text-decoration: underline; font-weight: bolder}

.rotate_01{
    
    -webkit-transition: -webkit-transform 1s;}
.rotate_01:hover{ -webkit-transform: rotate(360deg) translateZ(0);}



.fuckyou{
    display: block;
    position: absolute;
    top: 170%;
    left: 101%;
    width: 160px;
    height: 160px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform 2s;       
}
.fuckyou:hover{
    -webkit-transform: scale(300%) translateZ(0);
}


.fuckyou2{
    display: block;
    position: absolute;
    top: 200%;
    left: 30%;
    width: 100px;
    height: 80px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform 1s;       
}
.fuckyou2:hover{
    -webkit-transform: scale(-50%) translateZ(0);}

.fuckyou3{
    display: block;
    position: absolute;
    top: 120%;
    left: 69%;
    width: 60px;
    height: 50px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform 1s;       
}
.fuckyou3:hover{
    -webkit-transform: stretch(50) translateZ(0);}

.fuckyousecret{
    display: block;
    position: absolute;
    top: 183%;
    left: 70.5%;
    width: 5px;
    height: 5px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform .1s;       
}


.fuckyou4{
    display: block;
    position: absolute;
    top: 150%;
    left: 20%;
    width: 110px;
    height: 100px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform 30s;       
}
.fuckyou4:hover{
    -webkit-transform: rotate(10000deg);
}

.fuckyousecret:hover{
    -webkit-transform: scale(10000%) translateZ(0);
}

.fly{
    display: block;
    position: fixed;
    top: 50%;
    left: 30%;
    width: 40px;
    height: 40px;
    margin: -60px 0 0 -280px;
   
}


/*i dont know what this stuff does*/
div.main {width: 75%; padding: 0 5% 0 0}

div.sidebar {width: 20%; float: right; text-align: center}

div.banner {width 100%; color: aqua; height: 45px; background-image: url(imgs/cool.png); 
            background-position: center; background-size: cover; font-family: fantasy; 
            font size: 2em; font-weight: bold; text-align: center; padding: 2%; 2%; 2%; 2%}