body {text-align: center; background: white; padding: 0 10% 0 10%}

h1 {font-family: fantasy; color: red; font-size: 5em; font-weight: 1000; line-height: 60px}
h2 { }
p {font-family: fantasy; color: black; font-size: 1.5em}

a.list {font-family: fantasy; font size: 1em; font-weight: 100; text-decoration: none; line-height: normal}
a.list:link {Color: blue}
a.list:visited {color: deeppink}
a.list:hover {font-family: monospace; font-size: 2em; color: red; text-decoration: underline; font-weight: bolder}

.rotate_01{
    
    -webkit-transition: -webkit-transform 1s;}
.rotate_01:hover{ -webkit-transform: rotate(360deg) translateZ(0);}



.fuckyou{
    display: block;
    position: absolute;
    top: 100%;
    left: 101%;
    width: 160px;
    height: 150px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform 2s;       
}
.fuckyou:hover{
    -webkit-transform: scale(300%) translateZ(0);
}



/*i dont know what this stuff does*/
div.main {width: 75%; padding: 0 5% 0 0}

div.sidebar {width: 20%; float: right; text-align: center}

div.banner {width 100%; color: aqua; height: 45px; background-image: url(imgs/cool.png); background-position: center; background-size: cover; font-family: fantasy; font size: 2em; font-weight: bold; text-align: center; padding: 2%; 2%; 2%; 2%}