body {text-align: center; background: black; padding: 0 10% 0 10%}

h1 {font-family: fantasy; color: red; font-size: 5em; font-weight: 1000; line-height: 60px}
h2 {font-family: fantasy; color: lawngreen; font-size: 2em; font-weight: bold; line-height: 60px}
p {font-family: fantasy; color: white; font-size: 1em}

a.list {font-family: fantasy; font size: 1em; font-weight: 100; text-decoration: none; line-height: normal}
a.list:link {Color: blue}
a.list:visited {color: yellow}
a.list:hover {font-family: monospace; font-size: 2em; color: red; text-decoration: underline; font-weight: bolder}

div.main {width: 75%; padding: 0 5% 0 0}

div.sidebar {width: 20%; float: right; text-align: center}

div.banner {width 100%; color: aqua; height: 45px; background-image: url(imgs/cool.png); background-position: center; background-size: cover; font-family: fantasy; font size: 2em; font-weight: bold; text-align: center; padding: 2%; 2%; 2%; 2%}